# Python
__pycache__/
*.pyc

# Conda
.env
.conda/

# Jupyter
.ipynb_checkpoints/

# Data (allow CSVs)
data/*
!data/raw/
!data/clean/
!data/raw/*.csv
!data/clean/*.csv
!data/raw/.gitkeep
!data/clean/.gitkeep

# Models (DO NOT COMMIT TRAINED MODELS)
models/*.pkl

# OS
.DS_Store
Thumbs.db
